// -------------------------
// WIDGETS: Image
// -------------------------

// Element Resets
img {
	display: block;
}


// Image Captions (Gallery, Slideshow)
// -----------------------------------

.image-title,
.image-description {
    display: block;
    // Gives title and description paragraph styling
	.paragraph;
}

// Image Link
.image-link {
	display: block;
	font-size: 0;
	line-height: 0;
	&:hover {
		// Removes underline from image link
		text-decoration: none;
	}
}


// Post Image
// ----------

.blog-post-list__image {
	max-height: 300px;
}


