// ---------------------
// WIDGETS: Twitter Feed
// ---------------------

.twitter-feed {
	ul {
        margin: 0;
        list-style: none;
    }
	// Account Name
	.account-link {
		font-family: @font-swatch3-font-family;
	    font-size: @font-swatch3-font-size;
	    font-weight: @font-swatch3-font-weight;
	    color: @font-swatch3-color;
	    line-height: @font-swatch3-line-height;
	    letter-spacing: @font-swatch3-letter-spacing;
	}
	// Tweet List Items
	li {
		margin: 0 0 20px;
	}
}